body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

div.container {
  margin: 6em auto;
  width: 700px;
}

.info #site-name {
  margin-top: 2em;
  text-align: center;
}

.info #description {
  display: block;
  text-align: center;
  width: 50%;
  margin: 2em auto;
}

#favicon {
  width: 64px;
  margin: auto;
  display: block;
}

.footer {
  padding-top: 1em;
  font-size: smaller;
}

#blog-info, #author-info {
  display: inline-block;
  vertical-align: top;
}

#blog-info {
  width: 50%;
  border-style: dashed;
  border-width: 0px 1px 0px 0px;
  border-color: gray;
  margin-left: 1em;
}

#author-info {
  margin-left: 1em;
}

.footer #description, .footer #contact {
  font-weight: lighter;
  color: gray;
}

.footer #site-name a, .footer #default-author a {
    color: black;
    text-decoration: none;
}
