<html>
  <head>
    <title>{{ site.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon_dir }}">

    <!-- code highlighter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
