<html>
  <head>
    <title>{{ site.name }}</title>
    <base href="{{ baseurl }}">
    <link rel="stylesheet" type="text/css" href="{{ style }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ favicon_dir }}">

    <!-- code highlighter -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/{{ site.highlight_style }}.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

  </head>

  <body>
    <div class="container">
      <!--
      <div class="navbar">
        <a href="/">Home</a>
        <a href="#">About</a>
      </div>
      -->
      {% block content %}{% endblock %}
      <div class="footer">
        <div id="blog-info">
          <p id="site-name"><a href="{{ baseurl }}">{{ site.name }}</a></p>
          <p id="description">{{ site.description }}</p>
        </div>
        <div id="author-info">
          <p id="default-author"><a href="{{ baseurl }}/about">{{ site.default_author }} &copy; 2017</a></p>
          <p id="contact">{{ site.contact }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
